{% extends "base.html" %}

{% block body_block %}

 <div class="jumbotron">
   <h2 style="color:white">What's going on in this Picture?</h2>
 </div>

 <div class="bottom">
   <h4 style="color:white">How does this work :</h4>
   <h5 style="color:white">Upload a JPEG picture of anything descriptive, you want our AI to describe! </h5>
   <h5 style="color:white"> Get the results</h5>

 </div>

 <div class="bottomright">
    <h5 style="color:white"><a href="https://github.com/ZohebAbai/Whats_going_on_in_the_Picture">Source Code</a></h5>
    <h5 style="color:white"> Copyright : zohebabai@gmail.com</h5>

 </div>

{% endblock %}
